body{background-color: dimgray;}


img.center{
    display:block;
    width: 24%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    
}
#about{
    width: 24%;
    height: 60%;
    background-color: darkseagreen;
}
#resume{
    width: 24%;
    height: 60%;
    background-color: darkseagreen;
}
#edu{
    width: 24%;
    height: 60%;
    background-color: darkseagreen;
}
#contact{
    width: 20%;
    height: 60%;
    background-color: darkseagreen;
}
#abt{
    background-color: khaki;
}
#ed{
    background-color: khaki;
}
#con{
    background-color: khaki;
}